<?xml version="1.0" encoding="UTF-8"?>


<!-- 60초마다 파일 변화를 체크하여 갱신시킨다. -->
<configuration scan="false" scanPeriod="60 seconds">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <!-- 로그 패턴 -->
    <property name ="LOG_PATTERN" value = "%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5level) [%thread] %cyan(%-80.80logger{79}) : %msg%n"/>

    <!-- 콘솔 Appender 설정 -->
    <appender name ="CONSOLE" class ="ch.qos.logback.core.ConsoleAppender">
        <encoder class ="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- 파일 Appender 설정 -->
    <appender name="FILE" class ="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 파일 경로 설정 -->
        <file>/var/log/pawEver/server_log.log</file>

        <!-- 로그 패턴 설정 -->
        <encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- 롤링 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/pawEver/server_log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize> <!-- 100mb 넘기면 롤링 파일 생성-->
            <maxHistory>10</maxHistory>   <!--최대 보관 일수-->
            <totalSizeCap>5GB</totalSizeCap> <!--파일 당 최대 보관 용량. 초과하면 삭제됨.-->
        </rollingPolicy>
    </appender>

    <springProfile name = "dev">
        <root level = "INFO">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.greenroom.server" level="DEBUG" />
        <logger name="org.springframework.security" level = "DEBUG" />
        <logger name="com.zaxxer.hikari" level = "ERROR" />
        <logger name="org.apache" level = "ERROR" />
    </springProfile>

    <springProfile name = "local">
        <root level = "INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.greenroom.server" level="DEBUG" />
        <logger name="org.springframework.security" level = "DEBUG" />
        <logger name="com.zaxxer.hikari" level = "ERROR" />
        <logger name="org.apache" level = "ERROR" />
    </springProfile>

    <springProfile name = "test">
        <root level = "INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.greenroom.server" level="DEBUG" />
        <logger name="org.springframework.security" level = "DEBUG" />
        <logger name="com.zaxxer.hikari" level = "ERROR" />
        <logger name="org.apache" level = "ERROR" />
    </springProfile>



</configuration>